.contact-container{
    background-color: #F8F9FA;
}
.contact-page-title h2{
    font-size: 28px;
    font-weight: 600;
    color: #077DE5;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 30px;
}
.contact-section{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}   
.info-icon{
    width: 40%;
    display: flex;
    flex-direction: column;
}
.social-network{
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    text-align: center;
}
.linkedin{
    padding: 10px 0 0 10px;
    font-size: 26px;
    height: 50px;
    width: 50px;
    border: 1px solid gray;
    border-radius: 50%;
    display: inline-block;
    margin-right: 15px;
}
.fb{
    padding: 10px 0 0 10px;
    font-size: 26px;
    height: 50px;
    width: 50px;
    border: 1px solid gray;
    border-radius: 50%;
    display: inline-block;
}
.github{
    padding: 10px 0 0 10px;
    font-size: 26px;
    height: 50px;
    width: 50px;
    border: 1px solid #4A5055;
    border-radius: 50%;
    display: inline-block;
    margin-left: 15px;
}
.icon-details{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.icon{
    margin: 4px 10px 0 0;
    padding: 6px 0 0 6px;
    font-size: 26px;
    height: 40px;
    width: 40px;
    border: 1px solid gray;
    border-radius: 50%;
    display: inline-block;
}
.info h5{
    font-size: 20px;
    font-weight: 700;
}
.info p{
    font-weight: 600;
}
.contact-form{
    width: 60%;
}
.contact-form input{
    width: 80%;
    padding: 4px 0;
}
.contact-form input:focus{
    outline: none;
    padding-left: 15px;
}
.contact-form textarea{
    width: 80%;
    padding: 6px 0;
    border: 1px solid #b3b3b3;
    border-radius: 5px;
}
.contact-form textarea:focus{
    outline: none;
    padding-left: 15px;

}
.name-email{
    border: 1px solid #b3b3b3;
    border-radius: 5px;
}
.message-submit-button{
    width: 20%;
    display: flex;
    align-items: center;
    border: 1px solid #077DE5;
    padding: 4px 32px;
    border-radius: 5px;
    margin-bottom: 50px;
    cursor: pointer;
    color: #077DE5;
}
.message-submit-button input{
    cursor: pointer;
}