.recent-project {
    width: 90%;
    margin: auto;
}

.recent-project-details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 18px;
    margin-bottom: 30px;
}

.recent-project-title h2 {
    font-size: 28px;
    font-weight: 600;
    color: #077DE5;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.card-actions {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 0.5rem;
    justify-content: space-evenly;
}

.project-image {
    display: flex;
    justify-content: space-evenly;
    background-color: #8EBDC9;
    padding-bottom: 20px;
    border-radius: 18px;
    margin: 15px;
}

.img-1 {
    width: 160px;
    height: 260px;
}

.img-2 {
    width: 50px;
    height: 260px;
}

.live-server {
    display: flex;
    align-items: center;
    border: 1px solid #077DE5;
    padding: 8px 18px;
    border-radius: 5px;
    color: #077DE5;
}
.live-server-link{
    margin-left: 5px;
}
.card-body{
    padding-top: 0px;
}
.view-details{
    display: flex;
    align-items: center;
    border: 1px solid #077DE5;
    padding: 8px 95px;
    border-radius: 5px;
    color: #077DE5;
}


/* 376px to Max- 425px Mobile View */
@media only screen and (max-width: 425px) {
    .recent-project-details {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 28px;
        margin-bottom: 30px;
    }
    .view-details{
        display: flex;
        align-items: center;
        border: 1px solid #077DE5;
        padding: 8px 95px;
        border-radius: 5px;
        color: #077DE5;
    }
    .card-actions {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 0.5rem;
        justify-content: space-evenly;
    }
}
/* 426px to Max- 768px Mobile View */
@media only screen and (min-width:426px) and (max-width:768px) {
    .recent-project-details {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 28px;
        margin-bottom: 30px;
    }
    .view-details{
        display: flex;
        align-items: center;
        border: 1px solid #077DE5;
        padding: 8px 95px;
        border-radius: 5px;
        color: #077DE5;
    }
    .card-actions {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 0.5rem;
        justify-content: space-evenly;
    }
}
/* 769px to Max- 992px Tablet View */
@media only screen and (min-width:769px) and (max-width:992px) {
    .recent-project-details {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 28px;
        margin-bottom: 30px;
    }
    .view-details{
        display: flex;
        align-items: center;
        border: 1px solid #077DE5;
        padding: 8px 95px;
        border-radius: 5px;
        color: #077DE5;
    }
    .card-actions {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 0.5rem;
        justify-content: space-evenly;
    }
}
